.cards-wrapper {
    position: relative;
}

@media screen and (max-width: 480px) {
    .cards-wrapper {
        position: relative;
        margin-top: 22rem !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .cards-wrapper {
        position: relative;
        margin-top: 25rem !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .cards-wrapper {
        position: relative;
        margin-top: 17rem !important;
    }
}