@import "../../variables";
@import "../../mixins";
@import "../../screenSizesFonts";

.skills-wrapper {
    position: relative;
    display: flex;
    height: 87vh;
    margin-top: 8rem;

    .skills-left-side {
        flex-direction: column;

        .skills-details {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .skills-details>:nth-child(1) {
            font-weight: bold;
            font-size: 3rem;
        }

        .skills-details>:nth-child(2),
        .skills-details>:nth-child(3) {
            font-weight: 100;
            font-size: 1.3rem;
            color: $gray;
            margin-top: 10px;
        }

        .skills-btn-wrapper {
            display: flex;

            .contact-btn {
                @include button();
                font-size: 14px;
                margin-top: 1rem;
                margin-right: 5px;
            }
        }
    }

    .skills-right-side {
        position: relative;

        .main-circle {
            left: 17rem;
            position: relative;
            width: 18rem;
            height: 18rem;
            border-radius: 100%;
            box-shadow: $smboxShadow;
            top: 2.9rem;
            background-color: $black;
            border: 2px solid $orange;
            transition: transform 0.3s ease;

            &:hover {
                transition: transform 1s ease;
                transform: rotate(calc(360deg * var(--random-rotation)));
            }

            .secondary-circle>* {
                position: absolute;
                transform-origin: center center;
            }

            .secondary-circle>*:nth-child(1) {
                height: 75px;
                border-radius: 100%;
                border: 3px solid $orange;
                top: -3rem;
                left: 6.5rem;
            }

            .secondary-circle>*:nth-child(2) {
                height: 75px;
                border-radius: 100%;
                border: 3px solid $orange;
                left: -2rem;
                top: 2rem;
            }

            .secondary-circle>*:nth-child(3) {
                height: 90px;
                border-radius: 100%;
                border: 3px solid $black;
                left: 6rem;
                top: 5.5rem;
            }

            .secondary-circle>*:nth-child(4) {
                height: 75px;
                border-radius: 100%;
                border: 3px solid $orange;
                left: 15rem;
                top: 2rem;
            }

            .secondary-circle>*:nth-child(5) {
                height: 75px;
                border-radius: 100%;
                border: 3px solid $orange;
                left: 6.7rem;
                top: 15rem;
            }

            .secondary-circle>*:nth-child(6) {
                height: 75px;
                border-radius: 100%;
                border: 3px solid $orange;
                left: -2rem;
                top: 11rem;
            }

            .secondary-circle>*:nth-child(7) {
                height: 75px;
                border-radius: 100%;
                border: 3px solid $orange;
                left: 15rem;
                top: 11rem;
            }
        }

        .rotation {
            color: $orange;
            font-weight: bold;
            top: 22rem;
            left: 1.5rem;
        }

        .rotation-tap {
            display: none;
        }
    }
}

//TODO 480px
@media screen and (max-width: 480px) {
    .skills-wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 55rem;
        margin-top: 46rem;

        .skills-details {
            text-align: center;

            .skills-btn-wrapper {
                justify-content: center;
            }
        }

        .skills-right-side {
            transform: scale(0.7);

            .main-circle {
                left: -0.9rem !important;
                top: 5rem;
            }

            .rotation {
                display: none;
            }

            .rotation-tap {
                display: block;
                font-size: 22px;
                color: $orange;
                font-weight: bold;
                top: 22rem;
                left: 2.1rem;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .skills-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 55rem;
        padding: 0;
        margin-top: 54rem;

        .skills-details {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: $text-480px;
        }

        .skills-right-side {
            transform: scale(0.7);

            .main-circle {
                left: -1.1rem !important;
                top: 5rem;
            }

            .rotation {
                display: none;
            }

            .rotation-tap {
                display: block;
                font-size: 22px;
                color: $orange;
                font-weight: bold;
                top: 22rem;
                left: 2.1rem;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {

    .skills-wrapper {
        margin-top: 40rem;

        .skills-details {
            font-size: $text-481-768;
        }

        .skills-right-side {
            transform: scale(0.8);

            .main-circle {
                top: -0.2rem;
                left: 1.6rem !important;
            }

            .rotation {
                font-size: 22px;
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .main-circle {
        top: -0.2rem;
        left: 8rem !important;
    }

    .rotation {
        font-size: 22px;
    }
}

@media screen and (min-width: 1600px) {
    .skills-wrapper {

        .skills-left-side {
            margin-top: 1rem;

            .skills-details>:nth-child(1) {
                font-size: 5rem;
            }

            .skills-details>:nth-child(2),
            .skills-details>:nth-child(3) {
                font-size: 1.6rem;
                color: $gray;
            }
        }

        .skills-right-side {
           
            .main-circle {
                position: relative;
                top: 5rem;
                left: 20rem;
                width: 33rem;
                height: 33rem;
                transform: scale(0.8);

                &:hover {
                    transition: transform 1s ease;
                    transform: rotate(calc(360deg * var(--random-rotation)));
                }

                .secondary-circle>*:nth-child(1) {
                    height: 105px;
                    border-radius: 100%;
                    border: 3px solid $orange;
                    top: -3rem;
                    left: 13.2rem;
                }

                .secondary-circle>*:nth-child(2) {
                    height: 105px;
                    border-radius: 100%;
                    border: 3px solid $orange;
                    left: -2rem;
                    top: 6.5rem
                }

                .secondary-circle>*:nth-child(3) {
                    height: 135px;
                    border-radius: 100%;
                    border: 3px solid $black;
                    left: 12.5rem;
                    top: 11.5rem;
                }

                .secondary-circle>*:nth-child(4) {
                    height: 105px;
                    border-radius: 100%;
                    border: 3px solid $orange;
                    left: 28rem;
                    top: 6rem;
                }

                .secondary-circle>*:nth-child(5) {
                    height: 105px;
                    border-radius: 100%;
                    border: 3px solid $orange;
                    left: 13.8rem;
                    top: 29rem;
                }

                .secondary-circle>*:nth-child(6) {
                    height: 105px;
                    border-radius: 100%;
                    border: 3px solid $orange;
                    left: -1rem;
                    top: 22rem;
                }

                .secondary-circle>*:nth-child(7) {
                    height: 105px;
                    border-radius: 100%;
                    border: 3px solid $orange;
                    left: 28rem;
                    top: 21.3rem;
                }
            }

            .rotation {
                top: 39rem;
                left: 6rem;
                font-size: 32px;
            }
        }
    }
}