@import "../../variables";
@import "../../mixins";

.toggle>* {
    width: 1.3rem;
    height: 1rem;
    color: $orange;
}

.toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid $orange;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

    .toggle-button {
        border-radius: 100%;
        background: $orange;
        position: absolute;
    }
}

@media screen and (min-width: 1600px) {
    .toggle>* {
        width: 2.2rem;
        height: 2rem;
        color: $orange;
    }
}