.container {
    display: flex;
    padding: 57px 10px;
    justify-content: center;
}

.card {
    position: relative;
    width: 22rem;
    height: 11.2rem;
    transition: 0.5s;
}

.card:hover {
    height: 26.2rem;
}

.card .lines {
    position: absolute;
    inset: 0;
    background: rgb(105, 107, 92);
    overflow: hidden;
}

.card .lines::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 37.6rem;
    height: 7.6rem;
    background: linear-gradient(transparent, #FCA61F, #FCA61F, #FCA61F, transparent);
    animation: animate 4s linear infinite;
}

.card:hover .lines::before {
    animation-play-state: running;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .lines::after {
    content: "";
    position: absolute;
    inset: 0.2rem;
    background: #fafafa;
}

.dark-mode .card .lines::after {
    background: #0c0c0c;
}

.card .imgBx {
    position: absolute;
    top: -3.75rem;
    left: 50%;
    width: 9.4rem;
    height: 9.4rem;
    transform: translateX(-50%);
    /* will-change: transform; */
    background-color: rgb(245, 242, 242);
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid;
}

.card:hover .imgBx {
    top: 1.6rem;
    width: 12.5rem;
    height: 12.5rem;
}

.card:hover .imgBx::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31.2rem;
    height: 9.4rem;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #fba61e, #000000, #fba61e, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.card:hover .imgBx::before {
    animation-play-state: running;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.card .imgBx img {
    position: absolute;
    width: 12rem;
    height: 12rem;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 102%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card .content .details {
    padding: 1.9rem 1.2rem;
    text-align: center;
}

.card:hover .content .details h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: orange;
    line-height: 1.2em;
}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media screen and (min-width: 768px) and (max-width: 944px) {

    .card {
        display: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {}

@media screen and (min-width: 1600px) {}

/* TODO 480px */
/* @media screen and (max-width: 480px) {
    .card {
        position: relative;
        width: 20.6rem;
        height: 10.6rem;
        transition: 0.5s;
        left: 0.6rem;
    }
}


@media screen and (min-width: 1600px) {
    .card {
        position: relative;
        width: 37rem;
        height: 18rem;
        transition: 0.5s;
    }

    .card:hover {
        height: 40rem;
    }

    .card .lines::before {
        width: 44rem;
        height: 9.4rem;
    }

    .card .imgBx {
        top: -4.4rem;
        width: 12.5rem;
        height: 12.5rem;
    }

    .card:hover .imgBx {
        top: 1.9rem;
        width: 20rem;
        height: 20rem;
    }

    .card:hover .imgBx::before {
        width: 38rem;
        height: 10.6rem;
    }

    .card .lines::after {
        content: "";
        position: absolute;
        inset: 0.3rem;
        background: #fafafa;
    }

    .card .imgBx img {
        width: 19.5rem;
        height: 19.5rem;
    }

    .card .content {
        height: 100%;
        font-size: 2rem;
    }
} */