.container {
    display: flex;
    padding: 57px 10px;
    justify-content: center;
}

.card {
    position: relative;
    width: 350px;
    height: 180px;
    transition: 0.5s;
}

.card:hover {
    height: 420px;
}

.card .lines {
    position: absolute;
    inset: 0;
    background: rgb(105, 107, 92);
    overflow: hidden;
    /* border-radius: 10px; */
}

.card .lines::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #FCA61F, #FCA61F, #FCA61F, transparent);
    animation: animate 4s linear infinite;
}

.card:hover .lines::before {
    animation-play-state: running;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .lines::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #fafafa;
}

.dark-mode .card .lines::after {
    background: #0c0c0c;
}

.card .imgBx {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    will-change: transform;
    background-color: rgb(245, 242, 242);
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid;
}

.card:hover .imgBx {
    top: 25px;
    width: 200px;
    height: 200px;
}

.card:hover .imgBx::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #fba61e, #000000, #fba61e, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.card:hover .imgBx::before {
    animation-play-state: running;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.card .imgBx img {
    position: absolute;
    width: 192px;
    height: 192px;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 102%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card .content .details {
    padding: 30px 20px;
    text-align: center;
}

.card:hover .content .details h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: orange;
    line-height: 1.2em;
}

/* TODO 480px */
@media screen and (max-width: 480px) {
    .card {
        position: relative;
        width: 330px;
        height: 170px;
        transition: 0.5s;
        left: 0.6rem;
    }
}

@media screen and (min-width: 1600px) {
    .card {
        position: relative;
        width: 600px;
        height: 290px;
        transition: 0.5s;
    }

    .card:hover {
        height: 640px;
    }

    .card .lines::before {
        width: 700px;
        height: 150px;
    }

    .card .imgBx {
        top: -70px;
        width: 200px;
        height: 200px;
    }

    .card:hover .imgBx {
        top: 30px;
        width: 320px;
        height: 320px;
    }

    .card:hover .imgBx::before {
        width: 600px;
        height: 170px;
    }

    .card .lines::after {
        content: "";
        position: absolute;
        inset: 5px;
        background: #fafafa;
    }

    .card .imgBx img {
        width: 312px;
        height: 312px;
    }

    .card .content {
        height: 100%;
        font-size: 2rem;
    }
}