@import "../../variables";

.skills-right-side {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-circle {
        position: relative;
        width: 18rem;
        height: 18rem;
        border-radius: 100%;
        top: 3.5rem;
        background-color: $third-color;
        border: 2px solid $main-color;
        transition: transform 0.3s ease;

        &:hover {
            transition: transform 1s ease;
            transform: rotate(calc(360deg * var(--random-rotation)));
        }

        .secondary-circle>* {
            position: absolute;
        }

        .bulb-lottie {
            width: 79px !important;
            border-radius: 50%;
            border: 2px solid $main-color;
            top: -3.2rem;
            left: 6.5rem;
        }

        .smile-lottie>svg {
            width: 75px !important;
            border-radius: 50%;
            position: relative;
            left: -22px;
            top: 2rem;
        }

        .funny-lottie {
            width: 124px !important;
            left: 203px;
            top: 4px;
        }

        .success-lottie {
            width: 203px !important;
            left: -86px;
            top: 113px;
        }

        .slice-lottie>svg {
            position: relative;
            width: 75px !important;
            border-radius: 50%;
            left: 6.7rem;
            top: 16rem;
        }

        .laptop-lottie {
            width: 178px !important;
            top: 154px;
            left: 183px;
        }

        .secondary-circle>*:nth-child(3) {
            width: 170px;
            top: 3.2rem;
            left: 3.7rem;
        }
    }

    .rotation {
        color: $main-color;
        font-weight: bold;
        top: 22rem;
        left: 2rem;
    }

    .rotation-tap {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .skills-right-side {
        position: relative;
        right: 4px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .skills-right-side {
        position: relative;
        right: 6px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .main-circle {
        left: 1.9rem;
    }
}