@import "../../variables";

.skills-right-side {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-circle {
        position: relative;
        width: 18rem;
        height: 18rem;
        border-radius: 100%;
        top: 3.5rem;
        background-color: $black;
        border: 2px solid $orange;
        transition: transform 0.3s ease;

        &:hover {
            transition: transform 1s ease;
            transform: rotate(calc(360deg * var(--random-rotation)));
        }

        .secondary-circle>* {
            position: absolute;
        }

        .smile-lottie>svg {
            border-radius: 50%;
            position: relative;
            left: 10px;
        }

        .funny-lottie>svg {
            width: 124px !important;
            position: relative;
            left: 203px;
            top: 4px;
        }

        .success-lottie>svg {
            position: relative;
            width: 204px !important;
            left: -84px;
            top: 115px;
        }

        .slice-lottie>svg {
            border-radius: 50%;
        }

        .laptop-lottie>svg {
            width: 170px !important;
            position: relative;
            top: 154px;
            left: 183px;
        }

        .secondary-circle>*:nth-child(1) {
            height: 79px;
            border-radius: 100%;
            border: 2px solid $orange;
            top: -3rem;
            left: 6.5rem;
        }

        .secondary-circle>*:nth-child(2) {
            height: 75px;
            left: -2rem;
            top: 2rem;
        }

        .secondary-circle>*:nth-child(3) {
            width: 170px;
            top: 3.2rem;
            left: 3.7rem;
        }

        .secondary-circle>*:nth-child(5) {
            height: 75px;
            left: 6.7rem;
            top: 15.6rem;
        }
    }

    .rotation {
        color: $orange;
        font-weight: bold;
        top: 22rem;
        left: 2rem;
    }

    .rotation-tap {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .skills-right-side {
        position: relative;
        right: 4px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .skills-right-side {
        position: relative;
        right: 6px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .main-circle {
        left: 1.9rem;
    }
}