@import "../../fonts";
@import "../../mixins";
@import "../../variables";

.navbar {
    .nav-links {
        a.nav-link {
            background: linear-gradient(45deg,
                    $main-color, $main-color, $main-color,
                    $secondary-color, $secondary-color, $secondary-color);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: $nav-font;

            &:hover {
                cursor: pointer;
                filter: brightness(1.2);
            }
        }

        a.nav-light-mode {
            background: linear-gradient(45deg,
                    $main-color, $main-color, $main-color,
                    $third-color, $third-color, $third-color);
            background-clip: text;
        }
    }

    .navbar-toggler-icon {
        border-radius: 8%;
        animation: glowing 2s infinite;
    }

    @keyframes glowing {
        0% {
            box-shadow: 0 0 10px rgba(255, 255, 255, 1.6);
        }

        50% {
            box-shadow: 0 0 20px rgba(255, 165, 0, 2.0);
        }

        100% {
            box-shadow: 0 0 10px rgba(255, 255, 255, 1.6);
        }
    }
}

@media screen and (max-width: 480px) {
    .navigation-bar {
        margin-top: 1rem;
    }
}