@import "../../fonts";
@import "../../mixins";
@import "../../variables";

.navbar {
    .nav-links {

        a.nav-link {
            background: linear-gradient(45deg,
                    $main-color, $main-color, $main-color,
                    $secondary-color, $secondary-color, $secondary-color);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: $nav-font;
            transition: transform 1s;

            &:hover {
                cursor: pointer;
                transform: scale(1.2);
                font-weight: bold;
            }
        }
    }

    .nav-btn {
        @include button();
        margin-left: 5px;
        width: 7.5rem;
        height: 2.5rem;
        color: black;
        background: linear-gradient(45deg,
                $colored-button-left-side,
                $colored-button-left-side, white, $colored-button-right-side,
                $colored-button-right-side);
    }

    .navbar-toggler-icon {
        border-radius: 8%;
        animation: glowing 2s infinite;
    }

    @keyframes glowing {
        0% {
            box-shadow: 0 0 10px rgba(255, 255, 255, 1.6);
        }

        50% {
            box-shadow: 0 0 20px rgba(255, 165, 0, 2.0);
        }

        100% {
            box-shadow: 0 0 10px rgba(255, 255, 255, 1.6);
        }
    }
}