@import "../../fonts";
@import "../../mixins";

.navbar {
    .nav-links {
        gap: 10px;

        a.nav-link {
            position: relative;
            display: inline-block;
            background: linear-gradient(45deg, #fba61e, #fba61e, #fba61e, #777e94, #777e94, #777e94);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: $nav-font;
            transition: transform 1s;

            &:hover {
                cursor: pointer;
                color: orange;
                transform: scale(1.2);
                font-weight: bold;
            }
        }
    }

    .nav-btn {
        @include button();
        margin-left: 5px;
        width: 7.5rem;
        height: 2.5rem;
        color: black;
        background: linear-gradient(45deg, rgba(251, 166, 30, 0.9), rgba(251, 166, 30, 0.9), white, rgba(119, 126, 148, 0.9), rgba(119, 126, 148, 0.9));
    }

    .navbar-toggler-icon {
        border-radius: 8%;
        animation: glowing 2s infinite;
    }

    @keyframes glowing {
        0% {
            box-shadow: 0 0 10px rgba(255, 255, 255, 1.6);
        }

        50% {
            box-shadow: 0 0 20px rgba(255, 165, 0, 2.0);
        }

        100% {
            box-shadow: 0 0 10px rgba(255, 255, 255, 1.6);
        }
    }
}