@import "../../variables";

.lines-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines-container .ring {
    width: 85px;
    height: 85px;
    border: 0px solid rgb(10, 0, 0);
    border-radius: 50%;
    position: absolute;
}

.lines-container .ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: $main-color;
    animation: rotate1 2s linear infinite;
}

.lines-container .ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgba(30, 115, 251);
    animation: rotate2 2s linear infinite;
}

.lines-container .ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgba(90, 34, 139);
    animation: rotate3 2s linear infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}