@import "../../variables";
@import "../../mixins";

.my-logo {
	position: absolute;
	width: 150px;
	height: 150px;
	top: 9%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.top-content-wrapper {
	@include coloredWords();
	position: absolute;
	top: 21%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bottom-content-wrapper {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	.sphere-desc {
		@include coloredWords();
		margin-bottom: 40px;
	}

	.custom-btn {
		color: #000000;
		border-radius: 5px;
		cursor: pointer;
		transition: all 0.3s ease;
		position: relative;
	
		&.btn-starting-page {
			width: 130px;
			height: 40px;
			border: none;
			background: linear-gradient(45deg, #bdc3c7, #2c3e50);
	
			&:hover {
				color: #ffffff;
				background: transparent;
	
				&:before,
				&:after {
					width: 100%;
					transition: 800ms ease all;
				}
			}
	
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 0;
				height: 2px;
				background: #fafbfb;
				box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
				transition: 400ms ease all;
			}
	
			&:before {
				bottom: 0;
			}
	
			&:after {
				top: 0;
			}
		}
	}
	
}

.canvas-style {
	width: 100%;
	height: 100%;
	display: block;

	&:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 480px) {
	.my-logo {
		width: 120px;
		height: 120px;
	}

	.bottom-content-wrapper {
		.sphere-desc {
			font-size: 17px;
		}
	}
}

@media screen and (max-height: 480px) {
	.my-logo {
		width: 90px;
		height: 90px;
	}

	.bottom-content-wrapper {
		.sphere-desc {
			font-size: 17px;
		}
	}
}