@import "../../variables";

.circles {
	position: fixed;
	--dim: 110vmin;
	width: var(--dim);
	height: var(--dim);
	top: calc(50% - var(--dim) / 2);
	left: calc(50% - var(--dim) / 2);

	&-text {
		text-transform: uppercase;
	}

	&-text-1 {
		font-size: clamp(110px, 25vmin, 120px);
		font-family: $font-circle-1;
		font-weight: $font-weight-circle-1;
		fill: #e39d1a;
	}

	&-text-2 {
		font-size: clamp(90px, 17vmin, 100px);
		font-family: $font-circle-2;
		font-weight: $font-weight-circle-2;
		fill: rgba(90, 34, 139);
	}

	&-text-3 {
		font-size: clamp(65px, 13.5vmin, 75px);
		font-family: $font-circle-3;
		font-weight: $font-weight-circle-3;
		fill: rgba(30, 115, 251);
	}

	&-text-4 {
		display: none;
	}

	.button-enter {
		display: block;
		border: 0;
		width: 90px;
		height: 90px;
		position: absolute;
		left: calc(50% - $dim-button / 2);
		top: calc(50% - $dim-button / 2);
		background-color: $main-color;
		border-radius: 50%;

		&-btn-text {
			position: relative;
		}
	}
}

@media screen and (max-width: 480px) {
	.circles {
		.button-enter {
			width: 64px;
			height: 64px;
			left: calc(53% - $dim-button / 2);
			top: calc(53% - $dim-button / 2);

			&-btn-text {
				font-size: 16px;
			}
		}
	}
}