@import "../../variables";
@import "../../mixins";

.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 9rem;

  .project-header {
    color: $main-color;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 4.3rem;
    margin-bottom: -1.9rem;
  }

  .project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }

  .portfolio-project-text {
    color: $secondary-color;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
  }

  .portfolio-project-text-light {
    color: $third-color;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
  }

  .link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: $main-color;
  }

  .link-content img {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1rem;
    transition: transform 1s ease;

    &:hover {
      transform: scale(1.2);
      border: 0px;
    }
  }

  .project-gallery-title {
    position: relative;
    color: $main-color;
    top: 30px;
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    .project-title {
      margin-top: 1.2rem;
     
    }
  }
}

@media screen and (min-width: 1600px) {
  .portfolio {
    position: relative;
    top: 3rem;
  }
}