@import "../../variables";

.footer {
    display: flex;
    position: relative;
    align-items: center;
    margin: -0.5rem -3.5rem;
    margin-top: -7rem;


    .footer-text {
        color: $black;
    }

    .footer-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-top: 9rem;
        left: 20px
    }

    .icons>a>svg {
        margin-top: 1rem;
        margin-right: 0.5rem;
        transition: transform 1s;
        position: relative;
        left: 2px;
    }
}

//TODO 480px
@media screen and (max-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;

        .footer-text {
            margin-top: -6.1rem;
            font-size: 1rem;
            color: $black;
            position: relative;
            right: 1rem;
        }

        .icons>a>svg {
            margin-top: 1rem;
            margin-right: 0.5rem;
            position: relative;
            left: -0.7rem;
            width: 2rem;
        }
    }
}

@media screen and (min-width: 1600px) {
    .footer {
        display: flex;
        position: relative;
        align-items: center;
        margin: -0.5rem -3.5rem;
        margin-top: -7rem;
        font-size: 1.8rem;
        height: 23rem;

        .footer-text {
            color: $black;
            font-size: 2rem;
        }

        .footer-wrapper {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin-top: 11rem;
            left: 40px
        }

        .icons>a>svg {
            margin-top: 1rem;
            margin-right: 0.5rem;
            transition: transform 1s;
            position: relative;
            left: 2px;

            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
    }
}