@import "../../variables";
@import "../../mixins";

.skills-wrapper {
  .skills-left-side {
    margin-top: 4.2rem;

    .skills-details {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .skills-header {
        font-weight: bold;
        font-size: 3rem;
      }

      .skills-info {
        font-weight: 100;
        font-size: 1.3rem;
        color: $secondary-color;
      }

      .skills-info-light {
        font-weight: 100;
        font-size: 1.3rem;
        color: $third-color;
      }

      .skills-icons-categories {
        font-size: 26px;
        margin-top: 1px;
      }

      .skills-icons {
        display: flex;
        position: relative;
        right: 5px;
        margin-top: 5px;

        .nextJs-image {
          position: relative;
          bottom: 16px;
        }

        .nextJs-white {
          width: 120px;
        }

        .sass-image {
          position: relative;
          bottom: 5px;
          width: 50px;
          height: 50px;
        }

        .github-image {
          width: 39px;
          height: 39px;
          position: relative;
          top: 5px;
          left: 4px;
        }

        .git-image {
          width: 40px;
          height: 40px;
          position: relative;
          top: 6px;
          left: 12px;
        }

        .react-image {
          position: relative;
          left: 3px;
        }

        .redux-image {
          position: relative;
          width: 42px;
          height: 42px;
          right: 1px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .skills-wrapper {
    .skills-icons {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .skills-wrapper {
    text-align: center;
    
    .skills-icons {
      justify-content: center;
    }

    .rotation {
      display: none;
    }

    .rotation-tap {
      display: block;
      font-size: 22px;
      color: $main-color;
      top: 22.5rem;
      left: 2.1rem;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .skills-wrapper {
    position: relative;
    top: 2.5rem;
    flex-direction: column;
    text-align: center;
    
    .skills-icons {
      justify-content: center;
    }

    .rotation {
      display: none;
    }

    .rotation-tap {
      display: block;
      font-size: 22px;
      color: $main-color;
      top: 22.5rem;
      left: 2.1rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .skills-wrapper {
    position: relative;
    top: 5rem;
  }
}

@media screen and (min-width: 1600px) {
  .skills-wrapper {
    position: relative;
    top: 1.5rem;
  }
}
