@import "./variables";

@mixin button() {
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 9px 8px 0px rgba(251, 161, 40, 0.42);
    width: 9rem;
    height: 40px;

    &:hover {
        background: white;
        cursor: pointer;
        color: $orange;
        border: 1px solid $orange;
    }
}

@mixin blur() {
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    filter: blur(140px);
    background-color: $orange;
}
