@import "./variables";

@mixin button() {
    border-radius: 2rem;
    border: none;
    color: white;
    font-size: 0.9rem;
    background: linear-gradient(180deg, $main-color 26.71%, $main-color 99.36%);
    // box-shadow: 0px 9px 8px 0px rgba(251, 161, 40, 0.32);
    width: 8.8rem;
    height: 2.7rem;
   
    &:hover {
        background: white;
        cursor: pointer;
        color: $main-color;
        border: 1px solid $main-color;
    }
}

@mixin circleButton() {
    position: relative;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 14px;
    top: 2.3rem;
    font-family: "Gumela", sans-serif;
}