@import "./variables";

@mixin button() {
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    color: white;
    background: linear-gradient(180deg, $main-color, $main-color);
    width: 8.8rem;
    height: 2.7rem;
    transition: transform 0.7s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &:hover {
        background: white;
        cursor: pointer;
        color: $main-color;
        border: 1px solid $main-color;
    }

    &:active {
        transform: translateY(10px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}

@mixin coloredButton() {
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    width: 7.5rem;
    height: 2.5rem;
    color: black;
    background: linear-gradient(45deg,
            $colored-button-left-side,
            $colored-button-left-side, white, $colored-button-right-side,
            $colored-button-right-side);
    transition: transform 0.7s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &:hover {
        background: white;
        cursor: pointer;
        color: $main-color;
        border: 1px solid $main-color;
    }


    &:active {
        transform: translateY(10px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}

@mixin circleButton() {
    position: relative;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 14px;
    top: 2.3rem;
    font-family: "Gumela", sans-serif;
    transition: transform 0.7s, background-color 0.3s, box-shadow 0.3s, color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &:active {
        transform: translateY(10px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}

@mixin coloredWords() {
    background: linear-gradient(45deg, #bdc3c7, #2c3e50);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin modalOverlay() {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 950;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bounce-down {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}