$main-color : #fba61e;
$secondary-color: #777e94;
$black: #232d48;
$colored-button-left-side: rgba(251, 166, 30, 0.9);
$colored-button-right-side: rgba(119, 126, 148, 0.9);
$boxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);