@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: "Gumela";
    src: url("../public/fonts/Gumela.ttf") format("truetype");
}

body {
    font-family: "Gumela", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: var(--bs-body-line-height-1);
    background: url("./images/golden-glitter-two.png") center/cover fixed no-repeat;
    background-color: black;

    @media screen and (max-width: 553px) {
        background: url("./images/golden-glitter-mobile-two.png") center/cover fixed no-repeat;
    }
}