@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: "Gumela";
    src: url("../public/fonts/Gumela.ttf") format("truetype");
}

body {
    font-family: "Gumela", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: var(--bs-body-line-height-1);
}