.use-black {
    color: black;
    font-weight: 500;
}

.use-white {
    color: white;
}

.javascript {
    color: #fba51e;
}

.react {
    color: #129dca;
}

.sass {
    color: #ce6b9c;
}

.redux {
    color: #7a50be;
}

.typescript {
    color: #3078c6;
}

.css {
    color: #018dd6;
}

.three-js {
    color: green;
}

.next-js{
    color: #0d94c6;
}