@import "../../variables";
@import "../../mixins";

.about-me-wrapper {
    display: flex;
    height: 77vh;
    margin-top: 3rem;

    .about-me-left-side {
        display: flex;
        position: relative;
        display: 1;
        flex-direction: column;
        gap: 2rem;

        .about-me-name {
            display: flex;
            flex-direction: column;
        }

        .about-me-name>:nth-child(1) {
            color: $black;
            font-weight: bold;
            font-size: 3rem;
        }

        .about-me-name>:nth-child(2) {
            color: $orange;
            font-weight: bold;
            font-size: 3rem;
        }

        .about-me-name>:nth-child(3) {
            font-weight: 100;
            font-size: 20px;
            color: $gray;
            margin-top: 10px;
        }

        .surprise-message {
            display: flex;
            gap: 4rem;

            img {
                width: 11rem;
                height: 11rem;
                border-radius: 1.5rem;
            }
        }

        .cocktail-btn {
            @include button();
            width: 16rem;
        }

        .about-me-img-wrapper>a>img {
            height: 2.5rem;
            margin-right: 1rem;
            transition: transform 1s;
            position: relative;
            bottom: 8rem;

            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
    }

    .about-me-right-side {
        flex: 1;
        position: relative;

        .person {
            position: absolute;
            z-index: 1;
            width: 230px;
            height: 230px;
            object-fit: cover;
            border-radius: 40px;
            top: 40%;
            left: 50%;
            transform: translate(-40%, -50%);
        }

        .orange-splash {
            width: 110px;
            height: 110px;
            object-fit: contain;
            position: absolute;
            top: 3%;
            left: -46%;
            transform: translate(-50%, -50%);
        }
    }
}

@media screen and (max-width: 480px) {
    .about-me-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 64rem;
        gap: 7rem;
    }

    .about-me-right-side {
        transform: scale(0.8rem);
        left: -3rem;
    }
}

@media screen and (min-width: 1600px) {
   
    .about-me-wrapper {
        height: 80vh;
        margin-top: 5rem;
       
    }

    .about-me-left-side {
        gap: 3rem;
      

        .about-me-name {
            > :nth-child(1),
            > :nth-child(2) {
                font-size: 4rem;
            }

            > :nth-child(3) {
                font-size: 24px;
             
            }
        }

        .surprise-message {
            gap: 3rem;
            
        }

        .cocktail-btn {
            width: 18rem;
            
        }

        .about-me-img-wrapper>a>img {
            height: 3rem;
           
            margin-right: 1.5rem;
           
            bottom: 9rem;
          
        }
    }

    .about-me-right-side {
        .person {
            width: 280px;
            height: 280px;

        }

        .orange-splash {
            width: 130px;
            height: 130px;
        }
    }
}