@import "../../variables";
@import "../../mixins";
@import "../../screenSizesFonts";

.about-me-wrapper {
    display: flex;
    height: 80vh;
    margin-top: 3rem;

    .about-me-left-side {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 2rem;

        .white-text {
            color: rgb(255, 255, 255);
        }

        .about-me {
            display: flex;
            flex-direction: column;
        }

        .about-me>:nth-child(1) {
            color: $black;
            font-weight: bold;
            font-size: 3rem;
        }

        .about-me>:nth-child(2) {
            color: $orange;
            font-weight: bold;
            font-size: 3rem;
        }

        .about-me>:nth-child(3) {
            font-weight: 100;
            font-size: 1.4rem;
            color: $gray;
            margin-top: 0.6rem;
        }

        .btn-message {
            display: flex;
            gap: 3rem;

            img {
                width: 9.2rem;
                height: 9.2rem;
                border-radius: 1.6rem;
            }

            .cocktail-info {
                display: flex;
                flex-direction: column;
            }

            .cocktail-btn {
                @include button();
                width: 16rem;
                height: 2.8rem;
                background: linear-gradient(45deg, #fd7448, #fca36f, #fca975, #fbd99d, #f1eada, #cfd7ec, #bbc6e4, #8a9ed1, #5a75be, #5773be);
                // background: linear-gradient(to right, #f7b733, #fc4a1a);
                color: black;
                box-shadow: 0px 13px 8px 0px rgba(107, 106, 106, 0.42);
                font-family: "Gumela", sans-serif;
            }
        }

        .about-me-img-wrapper>a>img {
            height: 2.6rem;
            margin-right: 1rem;
            transition: transform 1s;
            position: relative;
            bottom: 5.4rem;

            &:hover {
                cursor: pointer;
                transform: scale(1.3);
            }
        }
    }

    .about-me-right-side {
        flex: 1;

    }
}

//TODO 480px
@media screen and (max-width: 480px) {
    .about-me-wrapper {
        margin-top: 1.3rem;
        display: flex;
        flex-direction: column;

        .about-me-left-side {
            display: flex;
            justify-content: center;

            .about-me {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .about-me>:nth-child(1) {
                color: $black;
                font-weight: bold;
                font-size: $header-480px;
            }

            .about-me>:nth-child(2) {
                color: $orange;
                font-weight: bold;
                font-size: $header-480px;
            }

            .about-me>:nth-child(3) {
                font-weight: 100;
                font-size: $text-480px;
                color: $gray;
                margin-top: 10px;
                text-align: center;
            }

            .btn-message {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .cocktail-btn {
                @include button();
                width: 16rem;
            }

            .about-me-img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .about-me-img-wrapper>a>img {
                height: 2.5rem;
                top: 1rem;
                left: 0.3rem;
            }

            .cocktail-text {
                font-size: 15px;
            }
        }

        .about-me-right-side {
            position: relative;
            top: 5rem;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .about-me-wrapper {
        display: flex;
        flex-direction: column;

        .about-me-left-side {

            .about-me>:nth-child(1),
            .about-me>:nth-child(2) {
                text-align: center;
                font-size: $header-481-768;
            }

            .about-me>:nth-child(3) {
                font-size: $text-481-768;
                text-align: center;
            }

            .btn-message {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
            }

            .about-me-img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .about-me-img-wrapper>a>img {
                top: 1rem;
                left: 0.3rem;
            }

            .cocktail-text {
                font-size: 16px;
            }
        }

        .about-me-right-side {
            position: relative;
            top: 5rem;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {

    .about-me-wrapper {
        flex-direction: column;
        height: 80vh;
        margin-top: 5rem;

        .about-me-left-side {
            gap: 3rem;

            .about-me>:nth-child(1) {
                color: $black;
                font-weight: bold;
                font-size: 2.5rem;
            }

            .about-me>:nth-child(2) {
                color: $orange;
                font-weight: bold;
                font-size: 2.5rem;
            }

            .about-me>:nth-child(3) {
                font-weight: 100;
                font-size: $text-481-768;
                color: $gray;
                margin-top: 10px;
            }

            .btn-message {
                display: flex;
                gap: 4rem;

                img {
                    width: 9.5rem;
                    height: 9.5rem;
                    border-radius: 1.4rem;
                }
            }

            .about-me-img-wrapper>a>img {
                height: 2.8rem;
                margin-right: 1rem;
                transition: transform 1s;
                position: relative;
                bottom: 7.2rem;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.3);
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .about-me-wrapper {
        height: 80vh;
        margin-top: 5rem;

        .about-me-left-side {
            gap: 3rem;

            .about-me {
                display: flex;
                flex-direction: column;
            }

            .about-me>:nth-child(1) {
                color: $black;
                font-weight: bold;
                font-size: 5rem;
            }

            .about-me-name>:nth-child(2) {
                color: $orange;
                font-weight: bold;
                font-size: 5rem;
            }

            .about-me>:nth-child(3) {
                font-weight: 100;
                font-size: 30px;
                color: $gray;
                margin-top: 10px;
            }

            .btn-message {
                display: flex;
                gap: 4rem;

                img {
                    width: 11.4rem;
                    height: 11.4rem;
                    border-radius: 1.4rem;
                }
            }

            .about-me-img-wrapper>a>img {
                height: 3.8rem;
                margin-right: 1rem;
                transition: transform 1s;
                position: relative;
                bottom: 7.2rem;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.3);
                }
            }
        }

        .about-me-img-wrapper>a>img {
            height: 3rem;
            margin-right: 1.5rem;
            bottom: 9rem;
        }
    }
}